src/main/mule/e-store-express-mule.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd">
    <flow name="e-store-express-mule-main">
        <http:listener config-ref="e-store-express-mule-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="e-store-express-mule-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\ping:e-store-express-mule-config">
        <flow-ref doc:name="correlationIdSubflow" doc:id="7cede556-0dad-4ee2-a8ee-5f274f40e29c" name="correlationIdSubflow"/>
		<set-variable value="${secure::client.secret}" doc:name="Set Variable" doc:id="ad3f416c-6195-4e14-8dbb-e440b7b560fc" variableName="sensitiveprop" />
        <logger level="INFO" doc:name="Logger" doc:id="893f1fb5-2544-49f4-8c43-a8e2ad4a68bd" message="#[vars.sensitiveprop]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  username: "test1",
  password: "test",
  transactionId: vars.transactionId
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\register:application\json:e-store-express-mule-config">
        <ee:transform doc:name="set-variables" doc:id="667bff0e-b48a-4ffb-853a-3130a3a0c1cb">
            <ee:variables>
                <ee:set-variable variableName="username"><![CDATA[%dw 2.0
output application/java
---
payload.username]]></ee:set-variable>
                <ee:set-variable variableName="password"><![CDATA[%dw 2.0
output application/java
---
payload.password]]></ee:set-variable>
                <ee:set-variable variableName="name"><![CDATA[%dw 2.0
output application/java
---
payload.name]]></ee:set-variable>
                <ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
correlationId]]></ee:set-variable>
                <ee:set-variable variableName="msgtype"><![CDATA[%dw 2.0
output application/java
---
'register']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="encryptPassword" doc:id="cba65c2d-aa88-4553-8f98-d16bea175cb7" name="encryptPassword" />
        <flow-ref doc:name="createuser" doc:id="5b46e014-f3f8-4f66-86ce-b98fb78dffb7" name="createuser" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  username: vars.username,
  message: "success",
  name: vars.name
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<async doc:name="Async" doc:id="064080f7-efbb-4aeb-a655-83e514b51597" >
			<flow-ref doc:name="register-userq" doc:id="b75f7c6d-8727-4e53-912e-a6a9e1284ea7" name="register-userq"/>
		</async>
    </flow>
    <flow name="post:\deleteuser:application\json:e-store-express-mule-config">
        <ee:transform doc:name="set-variables" doc:id="73a7dae8-d1d2-4af7-b700-78f2f13850df">
            <ee:variables>
                <ee:set-variable variableName="username"><![CDATA[%dw 2.0
output application/java
---
payload.username]]></ee:set-variable>
                <ee:set-variable variableName="name"><![CDATA[%dw 2.0
output application/java
---
payload.name]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="deleteuser" doc:id="f7ca588a-8f20-4cea-9bba-a640f5310150" name="deleteuser" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "success",
  username: vars.username,
  name: vars.name
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\getuser:e-store-express-mule-config">
        <logger level="INFO" message="get:\getuser:e-store-express-mule-config" />
        <flow-ref doc:name="validateuser" doc:id="a00dbca0-127f-4dd1-bdae-b8b49c5919b2" name="validateuser" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "success",
  loggedin: payload.client_id
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\login:application\json:e-store-express-mule-config">
        <ee:transform doc:name="set-variables" doc:id="3337fdfc-d62b-4e5c-b0b9-1ea8c9586ab5">
            <ee:variables>
                <ee:set-variable variableName="username"><![CDATA[%dw 2.0
output application/java
---
payload.username]]></ee:set-variable>
                <ee:set-variable variableName="password"><![CDATA[%dw 2.0
output application/java
---
payload.password]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="generateAccessToken" doc:id="6e39ac2f-ffa2-427c-a850-d0aa24a1f7f0" name="generateAccessToken" target="oauth2token"/>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  username: vars.username,
  password: vars.password,
  oauth2token: {
    access_token: vars.oauth2token.access_token,
    token_type: vars.oauth2token.token_type,
    expires_in: vars.oauth2token.expires_in
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
